body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

.bg-img {
  background-image: url("images/41510368-different-breads-on-wood-background.jpg");
  min-height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.bg-overlay {
 background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    height: 450px;
    padding-top: 50px;
  }
.tag{
    font-family: Elephant;
    font-size: 70px;
}
.bgbanner-hr {
  border:none;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:150px;
}
.main-banner-button{
  padding: 11px 38px;
    text-align: center;
    border: 2px dotted #ccc;
    background-color: #00000042;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.art-of-cake{
  text-align: center;
  font-family: Georgia, serif;
  font-weight: bold;
}
.we-cdm{color:brown;font-size: 12px;text-align: center;}
.aoc-para{text-align: center;font-family: Georgia, serif}
.chef-cook{text-align: center;font-family: Georgia, serif;font-weight: bold;}

.second-part{
  background-image: url("");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
 
}
.pancakes{
  background-image: url("images/baking-cake-rustic-kitchen-dough.png");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;

}

.breakfast{
  background-image: url("images/bread-roll-wheat-flour-black-background.jpeg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 500px;
}



@media only screen and (max-width: 600px) {
    div.slider-box{
    width : 100%;
    }
     div.background2 {
  background-repeat : no-repeat;
  height : 300px;
  width : 600px;
}
a.footer-menu {
    padding: 0px 0px 0px 21px;
    text-align: center;
}
   }

.navbar-default .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-default .navbar-brand {
    color: #fff;
}
.footer-menu{
  padding: 0px 53px 0px 21px;
  text-align: center;
}
div a{
  color:#000;
}

.est{
  margin-top: 20px;
  width: 70%;
  height: 440px;
  background-color: #fff;
  float: right;
  background-color: #f3f1ea;
  border: 2px dashed #464952;

}
/* last Slider*/
body {  
  background-color : #fff;
  text-align : center;
}

div.slider-box {
  margin-top: 12%;
  background-color : #ffffff;
  border : #ffffff inset 1px;
  height : 400px;
  text-align : left;
  width : 620px;
}


div.slider-box div.background, div.background2, div.slider-box{
  background-repeat : no-repeat;
  height : 300px;
  width : 600px;
}

div.slider-box div.background {
  position : relative;
  top : -300px;
}

div.slider-box div.navigation {
  height : 300px;
  position : relative;
  text-align : center;
  width : 142px;
}

div.slider-box div.navigation img {
width: 180px;
height: 122px;
margin-top: 0px;
cursor : pointer;

}

div.slider-box div.navigation img:hover {
  border-color : #808080;
}

div.slider-box div.navigation img.selected {
  border-color : #ffffff;
  opacity: 0.5;
}

div.slider-box div.navigation.bar {
  background-color : #202040;
  margin-top : -640px;
  height: 300px;
  left: 420px;
  width: 180px;

}

div.slider-box div.navigation.icons {
  margin-top : -300px;
}

div.slider-box div.padding {
 /** padding : 10px;*/
}

div.slider-box div.text {
  background-color : #404040;
  border : #000000 solid 1pt;
  color : #e0e0ff;
  display : block;
  float : left;
  font-family : "Verdana", "Tahoma", sans-serif;
  font-size : 13px;
  line-height : 17px;
  padding : 2px 6px;
  position : relative;
}

div.slider-box div.text a {
  color : #e0e0ff;
}
/*****************************/


@media only screen and (min-width: 1024px) {
    div.slider-box{
    margin-left: -72px;
    }
    div.est img{
      width: 85%;
    }
    .footer-menu {
    padding: 0px 53px 0px 21px;
  }
}

@media only screen and (max-width: 812px) {
    div.slider-box div.background, div.background2, div.slider-box {
    background-repeat: no-repeat;
    height: 300px;
    width: 330px;
}
div.slider-box div.navigation.icons{
  left: 150px; 
  opacity: 0.5;
  }
  div.breakfast{
    height: 1000px;
  }
  div.est{
    width: 98%;
  }
  div.est img{
      width: 95%;
    }
}